body { background-color: #141a1c; margin: 0; padding: 0; overflow: hidden; }
canvas { margin: auto; display: block; max-width: 640px; top: 0; left: 0; right: 0; bottom: 0; position: absolute; }
p { color: #fff; text-align: center; min-height: 2.4em; line-height: 1.2em; }